/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }
  
  /* Provide sufficient contrast against white background */
  a {
    color: #0366d6;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }
  
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }
  
  /* Sticky footer styles
  -------------------------------------------------- */
  html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .border-top {
    border-top: 1px solid #e5e5e5;
  }
  .border-bottom {
    border-bottom: 1px solid #e5e5e5;
  }
  
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
  
  button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
  }
  
  /* Sticky footer styles
  -------------------------------------------------- */
  html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
  }
  
  
  
/* Custom styles
-------------------------------------------------- */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  height : 100vh;
  flex-direction: column;
  margin: 0;

}

body header {
  height: 60px;
}

body .container {
  flex-grow: 1;
  height: 100%;
}

footer {
  position: relative !important;
  height: 60px;
  width: 100%;
}

.container main {
  display : flex;
  flex-direction: column;
  height: 100%;
  padding : 0 !important;
}

#posts-container {
    display : flex;
    flex-grow: 1;
    overflow: hidden;
  }

#posts-container .container {
  display : flex;
  flex-direction: column;
  justify-content: space-between;;
}

#posts-container .container #posts {
  overflow: auto;
  flex-grow : 1;
}

#input-container {
  margin-top: 10px;
  margin-bottom: 0px !important;
}
#post-input .row{
  margin: 0 !important;
}


/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgrey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#posts-container nav {
  flex: 1 1 100px;
  cursor: pointer;
}

#posts-container main {
  margin-left: 20px;
  flex: 3 1 200px;
  padding-top: 10px !important;
}

#posts-container .container {
  padding: 0 !important;
}

#posts-container #post-input { 
display: none;
}

h2 {
  margin : 0;
  margin-left: 4px;
  
}

.post {
  display: flex;
  padding: 10px 0px;
}
  
.post .user {
  margin-right: 20px;
  font-weight: bold;
}

.post p {
  margin : 0 !important;

}

.room-selected {
  background: lightblue;
}

#chatroom-header {
  display: flex;
  justify-content: space-between;
  height : 50px;
  padding-top: 10px;
  margin-bottom: 5px;
}

#chatroom-header li {
  list-style: none;
}

.alert {
  margin: 0 !important;
}


/* Modal
-------------------------------------------------- */

.modal-dialog .user-list {
  cursor: pointer;
}

.user-select {
  background: lightblue;
}


/* Loader
-------------------------------------------------- */

  .loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #3d58dc;
    background: -moz-linear-gradient(left, #3d58dc 10%, rgba(61,88,220, 0) 42%);
    background: -webkit-linear-gradient(left, #3d58dc 10%, rgba(61,88,220, 0) 42%);
    background: -o-linear-gradient(left, #3d58dc 10%, rgba(61,88,220, 0) 42%);
    background: -ms-linear-gradient(left, #3d58dc 10%, rgba(61,88,220, 0) 42%);
    background: linear-gradient(to right, #3d58dc 10%, rgba(61,88,220, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: #3d58dc;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background: white;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }


 #hubsendpost {
   display: none;
 }
