@model ChatHubViewModel
@{
    ViewData["Title"] = "Home Page";

  
 
}


<div class="modal fade" id="room-create-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter room name and select users</h5>
  
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Room name</span>
            </div>
            <input type="text" class="form-control room-name">
        </div>
        <ul class="list-group user-list">

        </ul>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary save-changes">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div id="posts-container">
    <nav id="master-list">

          <ul class="list-group connection">
               <li class="list-group-item" id="connection-state">
                <div class="alert" role="alert">
               
                </div>
            </li>

            <li class="list-group-item" id="connection-message">
                    <div class="alert" role="alert">
                
                    </div>
                </li>
            <li id="reconnect-button"> <button class="btn btn-outline-secondary" type="button">Reconnect</button></li>

          </ul>
        <ul class="list-group create">
            <li class="list-group-item">Create room
                <i class="fas fa-folder-plus fa-lg"></i>
                </li>
        </ul>
        <ul class="list-group rooms">
            
        </ul>
    </nav>
    <main>
        <div class="container">
             <div class="loader">Loading...</div>
            <div id="posts">
                <div class="post">
                </div>
            </div>
            <div id="post-input">
                <div class="row">
                <div id="input-container" class="input-group mb-3">
                    <input type="text" id="messageInput" class="form-control" placeholder="Message" aria-label="Message" aria-describedby="message">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" id="sendButton" type="button">Send message</button>
                    </div>
                </div>
              
            </div>
        </div>
    </main>
</div>
<form id="hubsendpost" method="post"></form>
@if(@ViewBag.RouteId != null) 
{
    <div data-init-room=@ViewBag.RouteId id='chatroom-route-config'></div>
}


<script src="~/custom/main.js" asp-append-version="true"></script>




